@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Signika&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Signika', sans-serif;
    font-size: larger;
} 

img{
    height: 300px;
}

.me-3{
    height: 250px;
    margin: 25px;
}

h1{
    font-size: 80px;
    font-family: 'Press Start 2P', cursive;
}


form{
    height: 100%;
    width: 100%;
    font-size: 20px;
}

.form-edit{
    margin: 10px;
}

h2{
    padding: 10px;
    margin: 30px;
    text-align: center;
}

.card{
    margin: 15px;
    padding: 10px;
    border-width: 3px;
    border-color: white;
}


.card-img-top{
    width: 90%;
    height: 300px;
}


.form-control{
    width: 80%;
    font-size: 17px;
    border-color: rgb(107, 95, 95) ;
}

.form-select{
    width: 80%;
    font-size: 17px;
}

.btn-primary{
    width: 30%;
    font-size: 20px;
}

.bg-dark{
    margin-bottom: 20px;
}

.btn-warning, .btn-danger{
    margin: 5px;
    height: 40px;
    width: 100px;
}

.btn-cambio{
    height: 40px;
    width: 200px;
    font-size: 17px;
}


.row{
    margin-left:3%;
}

.btn-new{
    height: 40px;
    width: 200px;
    font-size: 17px;
}


.alert-success, .alert-danger{
    text-align: center;
    font-size: larger;
}


